@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500;600;700;800&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    max-width: 500px;
    height: auto;
}

.navbar-brand {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.navbar-nav .nav-link {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.profile-container {
    max-width: 800px;
    background-color: rgb(239, 229, 182);
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social-icon{
    font-size: 24px;
    margin: 0 10px;
}

.profile-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group label {
    font-weight: bold;
}

.profile-form button {
    margin-top: 10px;
}